.game-title {
  text-align: center;
  color: rgb(8, 85, 201);
  margin-bottom: 2rem;
}
.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: 200px;
  grid-row-end: auto;
  text-align: center;
}
.loading {
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
  margin-left: 4rem;
}
.card-header {
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.search-game {
  margin-bottom: 2rem;
}